{% extends "base.html" %}
{% block title %}{% endblock %}
{% block content %}
    <h1>Dodawanie Jednostek</h1>
    <form action="" method="POST">
        {{ form.as_p }}
        <input class="btn btn-secondary rounded-1" type="submit" value="Dodaj">
        {% csrf_token %}
    </form>
<!--        <form action="" method="POST">-->
<!--            <label class="mt-4 ml-4 mr-4" for="name">Nazwa Jednostki</label>-->
<!--            <input class="p-1" type="text" id="name" name="name"><br>-->
<!--            <label class="mt-4 ml-4 mr-4" for="offensive">Offensive Skill:</label>-->
<!--            <input class="p-1" type="number" id="offensive" name="offensive" ><br>-->
<!--            <label class="mt-4 ml-4 mr-4" for="strength">Sila:</label>-->
<!--            <input class="p-1" type="number" id="strength" name="strength" ><br>-->
<!--            <label class="mt-4 ml-4 mr-4" for="ap">Armour Piercing:</label>-->
<!--            <input class="p-1" type="number" id="ap" name="ap" ><br>-->
<!--            <label class="mt-4 ml-4 mr-4" for="reflex">Czy ma Lightning Reflexes:</label>-->
<!--            <input class="p-1" type="checkbox" id="reflex" name="reflex" ><br>-->
<!--            <label class="mt-4 ml-4 mr-4" for="army">Wybierz armie:</label>-->
<!--            <select class="p-1" id="army" name="army">-->
<!--                {% for army in armys %}-->
<!--                <option class="btn btn-primary rounded-0" value="{{ army.id }}">{{ army.name }}</option>-->
<!--                {% endfor %}-->
<!--            </select>-->

<!--            <button class="btn btn-secondary rounded-1" type="submit" >Dodaj</button>-->
<!--        {% csrf_token %}-->
<!--        </form>-->
{% endblock content %}