{% extends "base.html" %}
{% block title %}{% endblock %}
{% block content %}
    <h1>Dodaj turniej</h1>
<div class="row">
<div class="m-4 p-4 border-dashed">
<!--    <form action="" method="POST">-->
<!--        {{ form.as_table }}-->
<!--        <input class="btn btn-color rounded-1 pt-1 pb-1" type="submit" value="Dodaj">-->
<!--        {% csrf_token %}-->
<!--    </form>-->
        <form action="" method="POST">
        {{ form.non_field_errors }}
        {{ form.source.errors }}
        {{ form.source }}
        <p>{{ form.name.label_tag }} {{ form.name }}</p>
        <table>
            <tr class="tab-my2">
                <th></th>
                <th>{{ form.op1.label_tag }}</th>
                <th>{{ form.op2.label_tag }}</th>
                <th>{{ form.op3.label_tag }}</th>
            </tr>
            <tr class="tab-my">
                <th></th>
                <th>{{ form.op1 }} {{ form.op1.errors }}</th>
                <th>{{ form.op2 }} {{ form.op2.errors }}</th>
                <th>{{ form.op3 }} {{ form.op3.errors }}</th>
            </tr>
            <tr class="tab-my">
                <th>{{ form.p1.label_tag }} {{ form.p1 }} {{ form.p1.errors }} </th>
                <td>{{ form.p11 }} {{ form.p11.errors }}</td>
                <td>{{ form.p12 }} {{ form.p12.errors }}</td>
                <td>{{ form.p13 }} {{ form.p13.errors }}</td>
            </tr>
            <tr class="tab-my">
                <th>{{ form.p2.label_tag }} {{ form.p2 }} {{ form.p2.errors }}</th>
                <td>{{ form.p21 }} {{ form.p21.errors }}</td>
                <td>{{ form.p22 }} {{ form.p22.errors }}</td>
                <td>{{ form.p23 }} {{ form.p23.errors }}</td>
            </tr>
            <tr>
                <th>{{ form.p3.label_tag }} {{ form.p3 }} {{ form.p3.errors }}</th>
                <td>{{ form.p31 }} {{ form.p31.errors }}</td>
                <td>{{ form.p32 }} {{ form.p32.errors }}</td>
                <td>{{ form.p33 }} {{ form.p33.errors }}</td>
            </tr>
        </table>

        <input class="btn btn-color rounded-1 pt-1 pb-1" type="submit" value="Dodaj">
        {% csrf_token %}
    </form>
</div>
    </div>
<div class="m-4 p-4 border-dashed">
<ul>
    <li>2 - min 17 pkt</li>
    <li>1 - min 13 pkt</li>
    <li>0 - 10 pkt</li>
    <li>-1 - max 7 pkt</li>
    <li>-2 - max 3 pkt</li>
</ul>
    </div>
{% endblock content %}