{% extends "base.html" %}
{% block title %}{% endblock %}
{% block content %}
    <h1>Dodaj paring 5v5</h1>
<div class="row">
<div class="m-4 p-4 border-dashed">
<!--    <form action="" method="POST">-->
<!--        {{ form.as_table }}-->
<!--        <input class="btn btn-color rounded-1 pt-1 pb-1" type="submit" value="Dodaj">-->
<!--        {% csrf_token %}-->
<!--    </form>-->
        <form action="" method="POST">
        {{ form.non_field_errors }}
        {{ form.source.errors }}
        {{ form.source }}
        <p>{{ form.name.label_tag }} {{ form.name }}</p>
        <table>
            <tr class="tab-my2">
                <th></th>
                <th>{{ form.op1.label_tag }}</th>
                <th>{{ form.op2.label_tag }}</th>
                <th>{{ form.op3.label_tag }}</th>
                <th>{{ form.op4.label_tag }}</th>
                <th>{{ form.op5.label_tag }}</th>
            </tr>
            <tr class="tab-my">
                <th></th>
                <th>{{ form.op1 }} {{ form.op1.errors }}</th>
                <th>{{ form.op2 }} {{ form.op2.errors }}</th>
                <th>{{ form.op3 }} {{ form.op3.errors }}</th>
                <th>{{ form.op4 }} {{ form.op4.errors }}</th>
                <th>{{ form.op5 }} {{ form.op5.errors }}</th>
            </tr>
            <tr class="tab-my">
                <th>{{ form.p1.label_tag }} {{ form.p1 }} {{ form.p1.errors }} </th>
                <td>{{ form.p11 }} {{ form.p11.errors }}</td>
                <td>{{ form.p12 }} {{ form.p12.errors }}</td>
                <td>{{ form.p13 }} {{ form.p13.errors }}</td>
                <td>{{ form.p14 }} {{ form.p14.errors }}</td>
                <td>{{ form.p15 }} {{ form.p15.errors }}</td>
            </tr>
            <tr class="tab-my">
                <th>{{ form.p2.label_tag }} {{ form.p2 }} {{ form.p2.errors }}</th>
                <td>{{ form.p21 }} {{ form.p21.errors }}</td>
                <td>{{ form.p22 }} {{ form.p22.errors }}</td>
                <td>{{ form.p23 }} {{ form.p23.errors }}</td>
                <td>{{ form.p24 }} {{ form.p24.errors }}</td>
                <td>{{ form.p25 }} {{ form.p25.errors }}</td>
            </tr>
            <tr class="tab-my">
                <th>{{ form.p3.label_tag }} {{ form.p3 }} {{ form.p3.errors }}</th>
                <td>{{ form.p31 }} {{ form.p31.errors }}</td>
                <td>{{ form.p32 }} {{ form.p32.errors }}</td>
                <td>{{ form.p33 }} {{ form.p33.errors }}</td>
                <td>{{ form.p34 }} {{ form.p34.errors }}</td>
                <td>{{ form.p35 }} {{ form.p35.errors }}</td>
            </tr>
            <tr class="tab-my">
                <th>{{ form.p4.label_tag }} {{ form.p4 }} {{ form.p4.errors }}</th>
                <td>{{ form.p41 }} {{ form.p41.errors }}</td>
                <td>{{ form.p42 }} {{ form.p42.errors }}</td>
                <td>{{ form.p43 }} {{ form.p43.errors }}</td>
                <td>{{ form.p44 }} {{ form.p44.errors }}</td>
                <td>{{ form.p45 }} {{ form.p45.errors }}</td>
            </tr>
            <tr class="tab-my">
                <th>{{ form.p5.label_tag }} {{ form.p5 }} {{ form.p5.errors }}</th>
                <td>{{ form.p51 }} {{ form.p51.errors }}</td>
                <td>{{ form.p52 }} {{ form.p52.errors }}</td>
                <td>{{ form.p53 }} {{ form.p53.errors }}</td>
                <td>{{ form.p54 }} {{ form.p54.errors }}</td>
                <td>{{ form.p55 }} {{ form.p55.errors }}</td>
            </tr>
        </table>

        <input class="btn btn-color rounded-1 pt-1 pb-1" type="submit" value="Zapisz">
        {% csrf_token %}
    </form>
</div>
    </div>
<div class="m-4 p-4 border-dashed">
<ul>
    <li>2 - min 17 pkt</li>
    <li>1 - min 13 pkt</li>
    <li>0 - 10 pkt</li>
    <li>-1 - max 7 pkt</li>
    <li>-2 - max 3 pkt</li>
</ul>
    </div>
{% endblock content %}