{% extends "base.html" %}
{% block title %}{% endblock %}
{% block content %}
<h1>Lista</h1>

        <table class="table border-bottom schedules-content">
            <tr>
                <th>Nazwa Armii (l. jednostek)</th>
                <th>Skrot</th>
                <th>Opis</th>
            </tr>
            {% for army in list %}
            <tr>
                <td><a class="user-color" href="/army_details/{{ army.0.id }}/">{{ army.0.name }}  </a> ({{ army.1 }})</td>
                <td>{{ army.0.short_name }}</td>
                <td>{{ army.0.description }}</td>
            </tr>
            {% endfor %}
        </table>
<div class="row">
    <div class="col-2">
        <div class="nav flex-column nav-pills">
            <a class="nav-link btn-color rounded-1 pt-2 pb-2" href="/calculator/">Back</a>
        </div>
    </div>
</div>


{% endblock content %}