{% extends "base.html" %}
{% block content %}
<h1>WFB Battle Calculator</h1>
<h2>Uzytkownik: {{ request.user.username }} ({{ request.user.profile.user_army }})</h2>
{% if not hit %}

    <form action="" method="POST">

        <button type="button" class="btn btn-color rounded-1 pt-1 pb-1"><a href="../army_list/">Lista armii</a></button>
        <span> <= Tu możesz dodać nowe jednostki do kalkulatora</span>
        <p></p>
        {% csrf_token %}
        {{ form.as_p }}
        <input class="btn btn-color rounded-1 pt-2 pb-2" type="submit" value="Walka!">
    </form>
{% else %}

<div class="m-4 p-4 border-dashed">
            <h1 class="dashboard-content-title">
                        <span>{{ unit.name }}</span>
                    </h1>
        <table class="table border-bottom schedules-content">
            <tr >
                <th>Ataki</th>
                <td>{{ attacks }}</td>
            </tr>
            <tr>
                <th>Trafienia</th>
                <td>{{ hit }}</td>
            </tr>
            <tr>
                <th>Zadane rany</th>
                <td>{{ wounds }}</td>
            </tr>
            <tr>
                <th>Armour Save: </th>
                {% for save in saves %}
                <td>{{ save }}</td>
                {% endfor %}
            </tr>
            <tr>
                <th>Rany: </th>
                {% for arm in armour %}
                <td>{{ arm }}</td>
                {% endfor %}
            </tr>

        </table><br>
</div>
{% endif %}
{% endblock %}