{% extends "base.html" %}
{% block content %}
<h1>WFB Battle Calculator</h1>
<h2>Uzytkownik: {{ request.user.username }} ({{ request.user.profile.user_army }})</h2>
{% if not hit %}
    <form action="" method="POST">
        <button type="button" class="btn btn-color rounded-1 pt-0 pb-0 pr-4 pl-4"><a href="../army_list/">Lista armii</a></button><br>
        <p></p>
        {% csrf_token %}
        {{ form.as_p }}
        <input class="btn btn-secondary rounded-1" type="submit" value="Walka!">
    </form>
{% else %}
<h3>{{ unit.name }}</h3>
        <table class="table border-bottom schedules-content">
            <tr>
                <th>Ataki</th>
                <td>{{ attacks }}</td>
            </tr>
            <tr>
                <th>Trafienia</th>
                <td>{{ hit }}</td>
            </tr>
            <tr>
                <th>Zadane rany</th>
                <td>{{ wounds }}</td>
            </tr>
            <tr>
                <th>Armour Save: </th>
                {% for save in saves %}
                <td>{{ save }}</td>
                {% endfor %}
            </tr>
            <tr>
                <th>Rany: </th>
                {% for arm in armour %}
                <td>{{ arm }}</td>
                {% endfor %}
            </tr>

        </table><br>
{% endif %}
{% endblock %}