{% extends "base.html" %}
{% block content %}

<h2>WFB Battle Calculator</h2>
<!--<h2>Uzytkownik: {{ request.user.username }} ({{ request.user.profile.user_army }})</h2>-->
<p></p>
    {% if not hit %}
<div class="m-4 p-4 border-dashed">
    <form action="" method="POST">

        <button type="button" class="btn btn-color rounded-1 pt-1 pb-1"><a href="{% url 'army-list' %}">Lista armii</a></button>
        <span> <= Tu możesz dodać nowe jednostki do kalkulatora</span>
        <p></p>
        {% csrf_token %}
        {{ form.as_p }}
        <input class="btn btn-color rounded-1 pt-2 pb-2" type="submit" value="Porównaj!">
    </form>
</div>
{% else %}
<div class="m-4 p-4 border-dashed">
            <h1 class="dashboard-content-title">
                        <span>{{ unit.name }}</span>
                    </h1>
        <table class="table border-bottom schedules-content">
            <tr >
                <th>Ataki</th>
                <td>{{ attacks }}</td>
            </tr>
            <tr>
                <th>Trafienia</th>
                <td>{{ hit }}</td>
            </tr>
            <tr>
                <th>Zranionych</th>
                <td>{{ wounds }}</td>
            </tr>
            <tr>
                <th>Armour Save: </th>
                {% for save in saves %}
                <td>{{ save }}</td>
                {% endfor %}
            </tr>
            <tr>
                <th>Rany: </th>
                {% for arm in armour %}
                <td>{{ arm }}</td>
                {% endfor %}
            </tr>

        </table><br>
</div>
<div class="m-4 p-4 border-dashed">
            <h1 class="dashboard-content-title">
                        <span>{{ unit2.name }}</span>
                    </h1>
        <table class="table border-bottom schedules-content">
            <tr >
                <th>Ataki</th>
                <td>{{ attacks2 }}</td>
            </tr>
            <tr>
                <th>Trafienia</th>
                <td>{{ hit2 }}</td>
            </tr>
            <tr>
                <th>Zranionych</th>
                <td>{{ wounds2 }}</td>
            </tr>
            <tr>
                <th>Armour Save: </th>
                {% for save in saves %}
                <td>{{ save }}</td>
                {% endfor %}
            </tr>
            <tr>
                <th>Rany: </th>
                {% for arm2 in armour2 %}
                <td>{{ arm2 }}</td>
                {% endfor %}
            </tr>

        </table><br>
</div>
<div class="row">
        <div class="col-1">
        <div class="nav flex-column nav-pills">
            <a class="nav-link btn-color pt-2 pb-2" href="{% url 'calc-view' %}">Powrót</a>
        </div>
    </div>
</div>
{% endif %}
{% endblock %}