{% extends "base.html" %}
{% block title %}{% endblock %}
{% block content %}
    <h1>Edytowanie Uzytkownika</h1>
<div class="m-4 p-4 border-dashed">
    <form action="" method="POST">
        {{ form.as_p }}
        {{ profile_form.as_p }}
        <p style="color: red">{{ error }}</p>
        <input class="btn btn-color rounded-1 pt-1 pb-1" type="submit" value="Zapisz">
        {% csrf_token %}
    </form>
</div>
<p></p>
<div class="row">
    <div class="col-1">
        <div class="nav flex-column nav-pills">
            <a class="nav-link btn-color-red rounded-1 pt-1 pb-1" href="/edit_user/delete/{{ user.id }}/">Usun konto</a>
        </div>
    </div>
</div>

{% endblock content %}