{% extends "base.html" %}
{% block title %}{% endblock title %}
{% block content %}
                <div class="dashboard-header m-2 p-2">
                    <div class="col-1">
                        {% if request.user.is_authenticated %}
                        <div class="nav nav-pills nav-justified">
                            <a class="nav-link btn-color" href="/ranking/add_result/">Dodaj wynik</a>
                        </div>
                        {% endif %}
                    </div>
                    <div class="dashboard-alerts">
                        <div class="alert-item alert-info">
                            <span class="font-weight-bold">Liczba graczy w rankingu: {{ no_of_users }}</span>
                        </div>
                        <div class="alert-item alert-light">
                            <span class="font-weight-bold">Liczba gier w rankingu: {{ no_of_games }}</span>
                        </div>
                    </div>
                </div>
<!--                {% if not no_home %}-->
<!--                <form action="" method="POST">-->
<!--                    {% csrf_token %}-->
<!--                    <input class="btn btn-color rounded-1 pt-1 pb-1" type="submit" value="Wyniki bez 'home'"><br>-->
<!--                </form>-->
<!--                {% else %}-->
<!--                <div>-->
<!--                    <a class="btn btn-color rounded-1 pt-1 pb-1" href="/">Cofnij</a>-->
<!--                </div>-->
<!--                {% endif %}-->

                <div class="m-4 p-4 border-dashed">
                    <h2 class="dashboard-content-title">
                        <span>Ranking Wałeczków</span>
                    </h2>
                    <table class="table css-serial">
                        <thead>
                            <tr class="d-flex">
                                <th class="col-2">Ksywka</th>
                                <th class="col-1">Av Master</th>
                                <th class="col-1">Av Lokal</th>
                                <th class="col-1">Av Home</th>
                                <th class="col-1">Ranking value</th>
                                <th class="col-1">Suma (gry)</th>
                                <th>Achievement</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for user in result %}
                            <tr class="d-flex">
                                <td class="col-2"><a class="user-color" href="/user_details/{{ user.7.id }}/">{{ user.7.username }}</a></td>
                                <td class="col-1">{{ user.0 }} </td>
                                <td class="col-1">{{ user.1 }} </td>
                                <td class="col-1"> {{ user.2 }} </td>
                                <td class="col-1">{{ user.3 }} </td>
                                <td class="col-1">{{ user.4 }} ({{ user.5 }})</td>
                                {% if user.6 == best_gen_id %}
                                <td class="icon icon-gen"></td>
                                {% endif %}
                                {% if user.6 == best_gamer_id %}
                                <td class="icon icon-cup"></td>
                                {% endif %}
                                {% if user.6 == best_veg_id %}
                                <td class="icon icon-veg"></td>
                                {% endif %}

                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="m-4 p-4 border-dashed">
                    <table>
                        <tr>
                            <td class="icon icon-gen"></td>
                            <td>   -  Najleprzy generał (najlepszy RV)</td>
                        </tr>
                        <tr>
                            <td class="icon icon-cup"></td>
                            <td>   -  Szalony gamer (najwięcej gier)</td>
                        </tr>
                        <tr>
                            <td class="icon icon-veg"></td>
                            <td>   -  Mistrz vege (najmniejszy RV)</td>
                        </tr>
                    </table>

                    <h2 class="dashboard-content-title">
                        <span>Ranking Value</span>
                    </h2>

                    <p>Punkty sa wyliczane na podstawie średniej wartosci wynikow w danej randze turnieju (Master, Local, Home)</p>
                    <h4>RV = Av master + Av lokal + Av home </h4>
                    <ul>
                        <li>RV - Ranking Value</li>
                        <li>Av master - średnia z masterów (suma / ilosc gier)</li>
                        <li>Av lokal - średnia z lokalow (suma / ilosc gier)</li>
                        <li>Av home - średnia z domowek (suma / ilosc gier)</li>
                    </ul>
                </div>
{% endblock content %}