{% extends "base.html" %}
{% block title %}{% endblock title %}
{% block content %}
                <div class="dashboard-header m-2 p-2">
                    <div class="col-1">
                        {% if request.user.is_authenticated %}
                        <div class="nav nav-pills nav-justified">
                            <a class="nav-link btn-color" href="/ranking/add_result/">Dodaj wynik</a>
                        </div>
                        {% endif %}
                    </div>
                    <div class="dashboard-alerts">
                        <div class="alert-item alert-info">
                            <span class="font-weight-bold">Liczba graczy w rankingu: {{ no_of_users }}</span>
                        </div>
                        <div class="alert-item alert-light">
                            <span class="font-weight-bold">Liczba gier w rankingu: {{ no_of_games }}</span>
                        </div>
                    </div>
                </div>
                {% if not no_home %}
                <form action="" method="POST">
                    {% csrf_token %}
                    <input class="btn btn-color rounded-1 pt-1 pb-1" type="submit" value="Wyniki bez 'home'"><br>
                </form>
                {% else %}
                <div>
                    <a class="btn btn-color rounded-1 pt-1 pb-1" href="/">Cofnij</a>
                </div>
                {% endif %}

                <div class="m-4 p-4 border-dashed">
                    <h2 class="dashboard-content-title">
                        <span>Pieciu najlepszych</span>
                    </h2>
                    <table class="table css-serial">
                        <thead>
                            <tr class="d-flex">
                                <th class="col-3">Ksywka</th>
                                <th class="col-2">Punkty (gry)</th>
                                <th class="col-2">Ranking value</th>
                                <th>Średnie (M / L / H)</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for user in result %}
                            <tr class="d-flex">

                                <td class="col-3"><a class="user-color" href="/user_details/{{ user.2.id }}/">{{ user.2.username }}</a></td>
                                <td class="col-2">{{ user.0 }} ({{ user.3 }})</td>
                                <td class="col-2">{{ user.4 }} </td>
                                <td class="col-2"> {{ user.5 }} / {{ user.6 }} / {{ user.7 }} </td>
                                {% if user.1 == best_gen_id %}
                                <td class="icon icon-gen"></td>
                                {% endif %}
                                {% if user.1 == best_gamer_id %}
                                <td class="icon icon-cup"></td>
                                {% endif %}

                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="m-4 p-4 border-dashed">
                    <h2 class="dashboard-content-title">
                        <span>Warzywniak</span>
                    </h2>
                    <table class="table css-serial">
                        <thead>
                            <tr class="d-flex">
                                <th class="col-3">Ksywka</th>
                                <th class="col-2">Punkty (gry)</th>
                                <th class="col-2">Ranking value</th>
                                <th>Średnie (M / L / H)</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for user in result_5_plus %}
                            <tr class="d-flex">
                                <td class="col-3"><a class="user-color" href="/user_details/{{ user.2.id }}/">{{ user.2.username }}</a> </td>
                                <td class="col-2">{{ user.0 }} ({{ user.3 }})</td>
                                <td class="col-2">{{ user.4 }} </td>
                                <td class="col-2"> {{ user.5 }} / {{ user.6 }} / {{ user.7 }} </td>
                                {% if user.1 == best_veg_id %}
                                <td class="icon icon-veg"></td>
                                {% endif %}
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="m-4 p-4 border-dashed">
                    <table>
                        <tr>
                            <td class="icon icon-gen"></td>
                            <td>   -  Najleprzy generał (najwięcej punktów)</td>
                        </tr>
                        <tr>
                            <td class="icon icon-cup"></td>
                            <td>   -  Szalony gamer (najwięcej gier)</td>
                        </tr>
                        <tr>
                            <td class="icon icon-veg"></td>
                            <td>   -  Mistrz vege (najmniej punktów)</td>
                        </tr>

                    </table>


                    <h2 class="dashboard-content-title">
                        <span>Ranking Value</span>
                    </h2>

                    <p>Punkty sa wyliczane na podstawie średniej wartosci wynikow w danej randze turnieju (Master, Local, Home)</p>
                    <h4>RV = Av master + Av lokal + Av home </h4>
                    <ul>
                        <li>RV - Ranking Value</li>
                        <li>Av master - średnia z masterów (suma / ilosc gier)</li>
                        <li>Av lokal - średnia z lokalow (suma / ilosc gier)</li>
                        <li>Av home - średnia z domowek (suma / ilosc gier)</li>
                    </ul>
                </div>
{% endblock content %}