{% extends "base.html" %}
{% block title %}{% endblock %}
{% block content %}

<div class="col">
    <div class="m-4 p-4 border-dashed">
         <h1 class="dashboard-content-title">
            <span>Parowanie 5v5</span>
        </h1>
        <div class="row">
            <div class="col-1">
                <div class="nav flex-column nav-pills">
                    <a class="nav-link btn-color pt-2 pb-2" href="{% url 'add-paring-5' %}">Dodaj</a>
                </div>
            </div>
        </div>
        <table class="table border-bottom schedules-content">
            <tr>
                <th>Nazwa</th>
                <th>Data</th>
                <th></th>
                <th></th>
            </tr>
            {% for paring in parings_5_list %}
            <tr>
                <td><a class="user-color" href="{% url 'paring-details-5' paring.id %}">{{ paring.name }}</a></td>
                <td>{{ paring.date }}</td>
                <td><a class="btn btn-secondary rounded-1" href="{% url 'edit-paring-5' paring.id %}">Edytuj</a></td>
                {% if request.user.is_superuser %}
                <td><a class="btn btn-secondary rounded-1" href="{% url 'delete-paring-5' paring.id %}">Usun</a></td>
                {% endif %}
            </tr>
            {% endfor %}
        </table>
    </div>
    <div class="m-4 p-4 border-dashed">
        <h1 class="dashboard-content-title">
            <span>Parowanie 3v3</span>
        </h1>
        <div class="row">
            <div class="col-1">
                <div class="nav flex-column nav-pills">
                    <a class="nav-link btn-color pt-2 pb-2" href="{% url 'add-paring-3' %}">Dodaj</a>
                </div>
            </div>
        </div>
        <table class="table border-bottom schedules-content">
            <tr>
                <th>Nazwa</th>
                <th>Data</th>
                <th></th>
                <th></th>
            </tr>
            {% for paring in parings_3_list %}
            <tr>
                <td><a class="user-color" href="{% url 'paring-details-3' paring.id %}">{{ paring.name }}</a></td>
                <td>{{ paring.date }}</td>
                <td><a class="btn btn-secondary rounded-1" href="{% url 'edit-paring-3' paring.id %}">Edytuj</a></td>
                {% if request.user.is_superuser %}
                <td><a class="btn btn-secondary rounded-1" href="{% url 'delete-paring-3' paring.id %}">Usun</a></td>
                {% endif %}
            </tr>
            {% endfor %}
        </table>
    </div>


</div>
{% endblock content %}