{% extends "base.html" %}
{% block title %}{% endblock %}
{% block content %}
<button type="button" class="btn btn-color rounded-1 pt-1 pb-1">
    <a class="nav-link btn-color" href="{% url 'edit-paring-4v4' tournament.id paring.id %}">Edytuj</a>
</button>
<div class="row">
    <div class="m-4 p-4 border-dashed">
        <p><strong>{{ tournament.name }} - Paring: {{ paring.name }}</strong></p>
        <table class="table border-bottom schedules-content">
            <tr class="tab-my2">
                <th></th>
                {% for i in range %}
                {% if forloop.counter == no1 or forloop.counter == no2 %}
                <th class="d-none"></th>
                {% else %}
                <th>P{{i}}</th>
                {% endif %}
                {% endfor %}
                <th class="tab-color-grey">Av</th>
            </tr>
            {% if request.method == 'GET' %}
            <tr class="tab-my">
                <th></th>
                {% for p in teamB %}
                <th>{{ p }}</th>
                {% endfor %}
                <th></th>
            </tr>
            {% endif %}
            {% if request.method == 'POST' %}
            <tr class="tab-my">
                <th></th>
                {% for p in teamBpost %}
                <th>{{ p }}</th>
                {% endfor %}
                <th></th>
            </tr>
            {% endif %}
            {% for row in players_points %}
            <tr class="tab-my">
                <th>{{ row.1.0 }}: {{ row.1.1 }}</th>
                {% for i in row.0 %}
                {% if i == 0 %}
                <td> {{i}}</td>
                {% elif i < 0 and i >= -1 %}
                <td style="background-color: #ff8080"> {{i}}</td>
                {% elif i < -1 %}
                <td style="background-color: #ff4d4d"> {{i}}</td>
                {% elif i > 0 and i <= 1 %}
                <td style="background-color: #79d279"> {{i}}</td>
                {% elif i > 1 %}
                <td style="background-color: #40bf40"> {{i}}</td>
                {% endif %}
                {% endfor %}
            </tr>
            {% endfor %}
            <tr class="tab-my">
                <th class="tab-color-grey">Av op</th>
                {% for i in army_points %}
                {% if i == 0 %}
                <td> {{i}}</td>
                {% elif i < 0 and i >= -1 %}
                <td style="background-color: #79d279"> {{i}}</td>
                {% elif i < -1 %}
                <td style="background-color: #40bf40"> {{i}}</td>
                {% elif i > 0 and i <= 1 %}
                <td style="background-color: #ff8080"> {{i}}</td>
                {% elif i > 1 %}
                <td style="background-color: #ff4d4d"> {{i}}</td>
                {% endif %}
                {% endfor %}
            </tr>
        </table>
    </div>
</div>
<div class="col">
    <div class="dashboard-alerts row">
        <div class="m-4 p-4 alert-item alert-green">
            <span class="font-weight-bold">Dobrych paringów: {{ green_p|stringformat:"d%%" }} ({{ green }})</span>
        </div>
        <div class="m-4 p-4 alert-item alert-yellow">
            <span class="font-weight-bold">Remisowych paringów: {{ yellow_p|stringformat:"d%%" }} ({{ yellow }})</span>
        </div>
        <div class="m-4 p-4 alert-item alert-red">
            <span class="font-weight-bold">Złych paringów: {{ red_p|stringformat:"d%%" }} ({{ red }})</span>
        </div>
    </div>
</div>
<div class="row">
    <div class="m-4 p-4 border-dashed">
        <p><strong>Rozklad procentowy paringów dla druzyny dla wystawki i mozliwych dostawek</strong></p>
        <table class="table border-bottom schedules-content">
            <tr class="tab-my2">
                <th></th>
                {% for i in range %}
                {% if forloop.counter == no1 or forloop.counter == no2 %}
                <td class="d-none"></td>
                {% else %}
                <th></th>
                <th>P{{i}}</th>
                <th></th>
                {% endif %}
                {% endfor %}
            </tr>
            <tr class="tab-my">
                <th></th>
                {% for p in teamB %}
                <th></th>
                <th>{{ p }}</th>
                <th></th>
                {% endfor %}
            </tr>
            {% for data in total_percentage %}
            <tr class="tab-my2">
                <th>{{ data.4 }}</th>
                {% for i in data %}
                <td class="alert-green">{{ i.0|stringformat:"d%%" }}</td>
                <td class="alert-yellow">{{ i.1|stringformat:"d%%" }}</td>
                <td class="alert-red">{{ i.2|stringformat:"d%%" }}</td>
                {% endfor %}
            </tr>
            {% endfor %}

        </table>
    </div>
</div>

<table>
    <tr>
        <th class="tab-color-green"> 42-80 pkt</th>
    </tr>
    <tr>
        <th class="tab-color-yellow"> 39-41 pkt</th>
    </tr>
    <tr>
        <th class="tab-color-red"> 0-38 pkt/th>
    </tr>
</table>

{% endblock content %}