{% extends "base.html" %}
{% block title %}{% endblock %}
{% block content %}

<button type="button" class="btn btn-color rounded-1 pt-1 pb-1">
    <a class="nav-link btn-color" href="{% url 'edit-paring-etc' tournament.id paring.id %}">Edytuj</a>
</button>
<div class="row">
    <div class="m-4 p-4 border-dashed">
        <p><strong>{{ tournament.name }} - Paring: {{ paring.name }}</strong></p>
        <table class="table border-bottom schedules-content">
            <tr class="tab-my2">
                <th></th>
                {% for i in range %}
                {% if forloop.counter == no1 or forloop.counter == no2 %}
                <td class="d-none"></td>
                {% else %}
                <th>P{{i}}</th>
                {% endif %}
                {% endfor %}
                <th class="tab-color-grey">Av</th>
            </tr>
            {% if request.method == 'GET' %}
            <tr class="tab-my">
                <th></th>
                {% for p in teamB %}
                <th>{{ p }}</th>
                {% endfor %}
                <th></th>
            </tr>
            {% endif %}
            {% if request.method == 'POST' %}
            <tr class="tab-my">
                <th></th>
                {% for p in teamBpost %}
                <th>{{ p }}</th>
                {% endfor %}
                <th></th>
            </tr>
            {% endif %}
            {% for row in players_points %}
            <tr class="tab-my">
                <th>{{ row.1.0 }}: {{ row.1.1 }}</th>
                {% for i in row.0 %}
                {% if i == 0 %}
                <td> {{i}}</td>
                {% elif i < 0 and i >= -1 %}
                <td style="background-color: #ff8080"> {{i}}</td>
                {% elif i < -1 %}
                <td style="background-color: #ff4d4d"> {{i}}</td>
                {% elif i > 0 and i <= 1 %}
                <td style="background-color: #79d279"> {{i}}</td>
                {% elif i > 1 %}
                <td style="background-color: #40bf40"> {{i}}</td>
                {% endif %}
                {% endfor %}
            </tr>
            {% endfor %}
            <tr class="tab-my">
                <th class="tab-color-grey">Av op</th>
                {% for i in army_points %}
                {% if i == 0 %}
                <td> {{i}}</td>
                {% elif i < 0 and i >= -1 %}
                <td style="background-color: #79d279"> {{i}}</td>
                {% elif i < -1 %}
                <td style="background-color: #40bf40"> {{i}}</td>
                {% elif i > 0 and i <= 1 %}
                <td style="background-color: #ff8080"> {{i}}</td>
                {% elif i > 1 %}
                <td style="background-color: #ff4d4d"> {{i}}</td>
                {% endif %}
                {% endfor %}
            </tr>
        </table>
    </div>
    <div>
        {% if request.method == 'GET' %}
        <div class="m-4 p-4 border-dashed">
            <form action="" method="POST">
                {{ form.non_field_errors }}
                {{ form.source.errors }}
                {{ form.source }}
                <p><strong>Po 1 parowaniu</strong></p>
                <table class="table border-bottom schedules-content">
                    <tr class="tab-my2">
                        <th></th>
                        <th>Gracz</th>
                        <th>Przeciwnik</th>
                    </tr>
                    <tr>
                        <th> Pierwsza para</th>
                        <td>{{ form.first_p1 }}</td>
                        <td>{{ form.first_op1 }}</td>
                    </tr>
                    <tr>
                        <th> Druga para</th>
                        <td>{{ form.first_p2 }}</td>
                        <td>{{ form.first_op2 }}</td>
                    </tr>
                </table>
                <input class="btn btn-color rounded-1 pt-1 pb-1" type="submit" value="Szacuj">
                {% csrf_token %}
            </form>
        </div>
        {% endif %}
    </div>
</div>
{% if request.method == 'GET' %}
<div class="col">
    <div class="dashboard-alerts row">
        <div class="m-4 p-4 alert-item alert-green">
            <span class="font-weight-bold">Dobrych paringów: {{ green_p|stringformat:"d%%" }} ({{ green }})</span>
        </div>
        <div class="m-4 p-4 alert-item alert-yellow">
            <span class="font-weight-bold">Remisowych paringów: {{ yellow_p|stringformat:"d%%" }} ({{ yellow }})</span>
        </div>
        <div class="m-4 p-4 alert-item alert-red">
            <span class="font-weight-bold">Złych paringów: {{ red_p|stringformat:"d%%" }} ({{ red }})</span>
        </div>
    </div>
</div>
{% endif %}
{% if request.method == 'POST' %}
<div class="col">
    <div class="dashboard-alerts row">
        <div class="m-4 p-4 alert-item alert-info">
            <span class="font-weight-bold">Pierwsze pary:</span>
            <span>{{ first_p1 }} - {{ first_op1 }}</span></br>
            <span>{{ first_p2 }} - {{ first_op2 }}</span></br>
            </p>
        </div>
    </div>
    <div class="dashboard-alerts row">
        <div class="m-4 p-4 alert-item alert-green">
            <span class="font-weight-bold">Dobrych paringów: {{ green_p|stringformat:"d%%" }} ({{ green }})</span>
        </div>
        <div class="m-4 p-4 alert-item alert-yellow">
            <span class="font-weight-bold">Remisowych paringów: {{ yellow_p|stringformat:"d%%" }} ({{ yellow }})</span>
        </div>
        <div class="m-4 p-4 alert-item alert-red">
            <span class="font-weight-bold">Złych paringów: {{ red_p|stringformat:"d%%" }} ({{ red }})</span>
        </div>
    </div>
</div>
{% endif %}

<div class="row">
    <div class="m-4 p-4 border-dashed">
        <p><strong>Rozklad procentowy paringów dla druzyny dla wystawki i mozliwych dostawek</strong></p>
        <table class="table border-bottom schedules-content">
            <tr class="tab-my2">
                <th></th>
                {% for i in range %}
                {% if forloop.counter == no1 or forloop.counter == no2 %}
                <td class="d-none"></td>
                {% else %}
                <th></th>
                <th>P{{i}}</th>
                <th></th>
                {% endif %}
                {% endfor %}
            </tr>
            {% if request.method == 'GET' %}
            <tr class="tab-my">
                <th></th>
                {% for p in teamB %}
                <th></th>
                <th>{{ p }}</th>
                <th></th>
                {% endfor %}
            </tr>
            {% endif %}
            {% if request.method == 'POST' %}
            <tr class="tab-my">
                <th></th>
                {% for p in teamBpost %}
                <th></th>
                <th>{{ p }}</th>
                <th></th>
                {% endfor %}
            </tr>
            {% endif %}
            {% for data in total_percentage %}
            <tr class="tab-my2">
                {% if request.method == 'GET' %}
                <th>{{ data.8 }}</th>
                {% elif request.method == 'POST' %}
                <th>{{ data.6 }}</th>
                {% endif %}
                {% for i in data %}
                <td class="alert-green">{{ i.0|stringformat:"d%%" }}</td>
                <td class="alert-yellow">{{ i.1|stringformat:"d%%" }}</td>
                <td class="alert-red">{{ i.2|stringformat:"d%%" }}</td>
                {% endfor %}
            </tr>
            {% endfor %}

        </table>
    </div>
</div>


{% endblock content %}