{% extends "base.html" %}
{% block title %}{% endblock %}
{% block content %}
<button type="button" class="btn btn-color rounded-1 pt-1 pb-1">
    <a class="nav-link btn-color" href="{% url 'edit-paring-4v4' tournament.id paring.id %}">Edytuj</a>
</button>
<div class="row">
    <div class="m-4 p-4 border-dashed">
        <p><strong>{{ tournament.name }} - Paring: {{ paring.name }}</strong></p>
        <table class="table border-bottom schedules-content">
            <tr class="tab-my2">
                <th></th>
                <th>Przeciwnik 1</th>
                <th>Przeciwnik 2</th>
                <th>Przeciwnik 3</th>
                <th>Przeciwnik 4</th>
            </tr>
            <tr class="tab-my">
                <th></th>
                <th>{{ paring.op1 }}</th>
                <th>{{ paring.op2 }}</th>
                <th>{{ paring.op3 }}</th>
                <th>{{ paring.op4 }}</th>
            </tr>
            <tr class="tab-my">
                <th>{{ tournament.player_name_1 }}: {{ tournament.p1 }}</th>
                <td>{{ paring.p11 }}</td>
                <td>{{ paring.p12 }}</td>
                <td>{{ paring.p13 }}</td>
                <td>{{ paring.p14 }}</td>
            </tr>
            <tr class="tab-my">
                <th>{{ tournament.player_name_2 }}: {{ tournament.p2 }}</th>
                <td>{{ paring.p21 }}</td>
                <td>{{ paring.p22 }}</td>
                <td>{{ paring.p23 }}</td>
                <td>{{ paring.p24 }}</td>
            </tr>
            <tr>
                <th>{{ tournament.player_name_3 }}: {{ tournament.p3 }}</th>
                <td>{{ paring.p31 }}</td>
                <td>{{ paring.p32 }}</td>
                <td>{{ paring.p33 }}</td>
                <td>{{ paring.p34 }}</td>
            </tr>
            <tr>
                <th>{{ tournament.player_name_4 }}: {{ tournament.p4 }}</th>
                <td>{{ paring.p41 }}</td>
                <td>{{ paring.p42 }}</td>
                <td>{{ paring.p43 }}</td>
                <td>{{ paring.p44 }}</td>
            </tr>
        </table>
    </div>
</div>
<div class="col">
    <div class="dashboard-alerts row">
        <div class="m-4 p-4 alert-item alert-green">
            <span class="font-weight-bold">Dobrych paringów: {{ green_p|stringformat:"d%%" }} ({{ green }})</span>
        </div>
        <div class="m-4 p-4 alert-item alert-yellow">
            <span class="font-weight-bold">Remisowych paringów: {{ yellow_p|stringformat:"d%%" }} ({{ yellow }})</span>
        </div>
        <div class="m-4 p-4 alert-item alert-red">
            <span class="font-weight-bold">Złych paringów: {{ red_p|stringformat:"d%%" }} ({{ red }})</span>
        </div>
    </div>
</div>
<div class="col">
    <p><strong>Możliwe parowania:</strong></p>
</div>
{% for data in data_list%}
<div class="m-4 p-4 border-dashed">
    <table class="table border-bottom schedules-content">
        <tr class="tab-my2">
            <th>Gracz</th>
            <th>Przeciwnik</th>
            <th>Punkty</th>
            <th></th>
        </tr>
        <tr class="tab-my">
            <td>{{ data.0.0.0 }}</td>
            <td>{{ data.0.0.1 }}</td>
            <td>{{ data.1.0 }}</td>
        </tr>
        <tr class="tab-my">
            <td>{{ data.0.1.0 }}</td>
            <td>{{ data.0.1.1 }}</td>
            <td>{{ data.1.1 }}</td>
        </tr>
        <tr class="tab-my">
            <td>{{ data.0.2.0 }}</td>
            <td>{{ data.0.2.1 }}</td>
            <td>{{ data.1.2 }}</td>
        </tr>
        <tr class="tab-my">
            <td>{{ data.0.3.0 }}</td>
            <td>{{ data.0.3.1 }}</td>
            <td>{{ data.1.3 }}</td>
        </tr>
        {% if data.2 > 41 %}
        <tr class="tab-color-green">
            {% elif data.2 < 39 %}
        <tr class="tab-color-red">
            {% else %}
        <tr class="tab-color-yellow">
            {% endif %}
            <td></td>
            <td>Total</td>
            <th>{{ data.2 }}</th>
        </tr>
    </table>
</div>
{% endfor %}
<!--<div class="col">-->
<!--    <p><strong>6 najmniej korzystnych parowań:</strong></p>-->
<!--</div>-->
<!--{% for data in data_list_bad %}-->
<!--<div class="m-4 p-4 border-dashed">-->
<!--    <table class="table border-bottom schedules-content">-->
<!--        <tr class="tab-my2">-->
<!--            <th>Gracz</th>-->
<!--            <th>Przeciwnik</th>-->
<!--            <th>Punkty</th>-->
<!--            <th></th>-->
<!--        </tr>-->
<!--        <tr class="tab-my">-->
<!--            <td>{{ data.0.0.0 }}</td>-->
<!--            <td>{{ data.0.0.1 }}</td>-->
<!--            <td>{{ data.1.0 }}</td>-->
<!--        </tr>-->
<!--        <tr class="tab-my">-->
<!--            <td>{{ data.0.1.0 }}</td>-->
<!--            <td>{{ data.0.1.1 }}</td>-->
<!--            <td>{{ data.1.1 }}</td>-->
<!--        </tr>-->
<!--        <tr class="tab-my">-->
<!--            <td>{{ data.0.2.0 }}</td>-->
<!--            <td>{{ data.0.2.1 }}</td>-->
<!--            <td>{{ data.1.2 }}</td>-->
<!--        </tr>-->
<!--        <tr class="tab-my">-->
<!--            <td>{{ data.0.3.0 }}</td>-->
<!--            <td>{{ data.0.3.1 }}</td>-->
<!--            <td>{{ data.1.3 }}</td>-->
<!--        </tr>-->
<!--        {% if data.2 > 41 %}-->
<!--        <tr class="tab-color-green">-->
<!--            {% elif data.2 < 39 %}-->
<!--        <tr class="tab-color-red">-->
<!--            {% else %}-->
<!--        <tr class="tab-color-yellow">-->
<!--            {% endif %}-->
<!--            <td></td>-->
<!--            <td>Total</td>-->
<!--            <th>{{ data.2 }}</th>-->
<!--        </tr>-->
<!--    </table>-->
<!--</div>-->
{% endfor %}
<table>
    <tr>
        <th class="tab-color-green"> 42-80 pkt</th>
    </tr>
    <tr>
        <th class="tab-color-yellow"> 39-41 pkt</th>
    </tr>
    <tr>
        <th class="tab-color-red"> 0-38 pkt/th>
    </tr>
</table>
{% endblock content %}