{% extends "base.html" %}
{% block title %}{% endblock %}
{% block content %}
    <button type="button" class="btn btn-color rounded-1 pt-1 pb-1">
        <a class="nav-link btn-color" href="{% url 'edit-paring-3' paring.id %}">Edytuj</a></button>
<div class="row">

<div class="m-4 p-4 border-dashed">
    <p><strong>{{ paring.name }}</strong></p>
        <table class="table border-bottom schedules-content">
            <tr class="tab-my2">
                <th></th>
                <th>Przeciwnik 1</th>
                <th>Przeciwnik 2</th>
                <th>Przeciwnik 3</th>
            </tr>
            <tr class="tab-my">
                <th></th>
                <th>{{ paring.op1 }}</th>
                <th>{{ paring.op2 }}</th>
                <th>{{ paring.op3 }}</th>
            </tr>
            <tr class="tab-my">
                <th>Gracz 1: {{ paring.p1 }} </th>
                <td>{{ paring.p11 }}</td>
                <td>{{ paring.p12 }}</td>
                <td>{{ paring.p13 }}</td>
            </tr>
            <tr class="tab-my">
                <th>Gracz 2: {{ paring.p2 }}</th>
                <td>{{ paring.p21 }}</td>
                <td>{{ paring.p22 }}</td>
                <td>{{ paring.p23 }}</td>
            </tr>
            <tr>
                <th>Gracz 3: {{ paring.p3 }}</th>
                <td>{{ paring.p31 }}</td>
                <td>{{ paring.p32 }}</td>
                <td>{{ paring.p33 }}</td>
            </tr>
        </table>
</div>
    </div>

{% for data in data_list%}
<div class="m-4 p-4 border-dashed">
    <table class="table border-bottom schedules-content">
        <tr class="tab-my2">
            <th>Gracz</th>
            <th>Przeciwnik</th>
            <th>Punkty</th>
            <th></th>
        </tr>
        <tr class="tab-my">
            <td>{{ data.0.0.0 }}</td>
            <td>{{ data.0.0.1 }}</td>
            <td>{{ data.1.0 }}</td>
        </tr>
        <tr class="tab-my">
            <td>{{ data.0.1.0 }}</td>
            <td>{{ data.0.1.1 }}</td>
            <td>{{ data.1.1 }}</td>
        </tr>
        <tr class="tab-my">
            <td>{{ data.0.2.0 }}</td>
            <td>{{ data.0.2.1 }}</td>
            <td>{{ data.1.2 }}</td>
        </tr>
        {% if data.2 >= 30 %}
        <tr class="tab-color-green">
            {% else %}
        <tr class="tab-color-red">
            {% endif %}
            <td></td>
            <td>Total</td>
            <th>{{ data.2 }}</th>
        </tr>
    </table>
</div>
{% endfor %}
{% endblock content %}