{% extends "base.html" %}
{% block title %}{% endblock %}
{% block content %}
<div class="row">
<div class="m-4 p-4 border-dashed">
        <p>{{ paring.name }}</p>
        <table class="table border-bottom schedules-content">
            <tr class="tab-my2">
                <th></th>
                <th>Przeciwnik 1</th>
                <th>Przeciwnik 2</th>
                <th>PRzeciwnik 3</th>
            </tr>
            <tr class="tab-my">
                <th></th>
                <th>{{ paring.op1 }}</th>
                <th>{{ paring.op2 }}</th>
                <th>{{ paring.op3 }}</th>
            </tr>
            <tr class="tab-my">
                <th>Gracz 1: {{ paring.p1 }} </th>
                <td>{{ paring.p11 }}</td>
                <td>{{ paring.p12 }}</td>
                <td>{{ paring.p13 }}</td>
            </tr>
            <tr class="tab-my">
                <th>Gracz 2: {{ paring.p2 }}</th>
                <td>{{ paring.p21 }}</td>
                <td>{{ paring.p22 }}</td>
                <td>{{ paring.p23 }}</td>
            </tr>
            <tr>
                <th>Gracz 3: {{ paring.p3 }}</th>
                <td>{{ paring.p31 }}</td>
                <td>{{ paring.p32 }}</td>
                <td>{{ paring.p33 }}</td>
            </tr>
        </table>
</div>
    </div>
<div class="m-4 p-4 border-dashed">
        <p>Parowanie 1</p>
    <table class="table border-bottom schedules-content">
        <tr class="tab-my2">
            <th>Gracz</th>
            <th>Przeciwnik</th>
            <th>Punkty</th>
            <th></th>
        </tr>
        <tr class="tab-my">
            <td>{{ paring.p1 }}</td>
            <td>{{ paring.op1 }}</td>
            <td>{{ result1.0 }}</td>
        </tr>
        <tr class="tab-my">
            <td>{{ paring.p2 }}</td>
            <td>{{ paring.op2 }}</td>
            <td>{{ result1.1 }}</td>
        </tr>
        <tr class="tab-my">
            <td>{{ paring.p3 }}</td>
            <td>{{ paring.op3 }}</td>
            <td>{{ result1.2 }}</td>
        </tr>
        <tr>
            <td></td>
            <td>Total</td>
            <th>{{ sum1 }}</th>
        </tr>
    </table>
</div>
<div class="m-4 p-4 border-dashed">
        <p>Parowanie 2</p>
    <table class="table border-bottom schedules-content">
        <tr class="tab-my2">
            <th>Gracz</th>
            <th>Przeciwnik</th>
            <th>Punkty</th>
            <th></th>
        </tr>
        <tr class="tab-my">
            <td>{{ paring.p1 }}</td>
            <td>{{ paring.op2 }}</td>
            <td>{{ result2.0 }}</td>
        </tr>
        <tr class="tab-my">
            <td>{{ paring.p2 }}</td>
            <td>{{ paring.op3 }}</td>
            <td>{{ result2.1 }}</td>
        </tr>
        <tr class="tab-my">
            <td>{{ paring.p3 }}</td>
            <td>{{ paring.op1 }}</td>
            <td>{{ result2.2 }}</td>
        </tr>
        <tr>
            <td></td>
            <td>Total</td>
            <th>{{ sum2 }}</th>
        </tr>
    </table>
</div>
<div class="m-4 p-4 border-dashed">
        <p>Parowanie 3</p>
    <table class="table border-bottom schedules-content">
        <tr class="tab-my2">
            <th>Gracz</th>
            <th>Przeciwnik</th>
            <th>Punkty</th>
            <th></th>
        </tr>
        <tr class="tab-my">
            <td>{{ paring.p1 }}</td>
            <td>{{ paring.op3 }}</td>
            <td>{{ result3.0 }}</td>
        </tr>
        <tr class="tab-my">
            <td>{{ paring.p2 }}</td>
            <td>{{ paring.op1 }}</td>
            <td>{{ result3.1 }}</td>
        </tr>
        <tr class="tab-my">
            <td>{{ paring.p3 }}</td>
            <td>{{ paring.op2 }}</td>
            <td>{{ result3.2 }}</td>
        </tr>
        <tr>
            <td></td>
            <td>Total</td>
            <th>{{ sum3 }}</th>
        </tr>
    </table>
</div>
<div class="m-4 p-4 border-dashed">
        <p>Parowanie 4</p>
    <table class="table border-bottom schedules-content">
        <tr class="tab-my2">
            <th>Gracz</th>
            <th>Przeciwnik</th>
            <th>Punkty</th>
            <th></th>
        </tr>
        <tr class="tab-my">
            <td>{{ paring.p1 }}</td>
            <td>{{ paring.op1 }}</td>
            <td>{{ result4.0 }}</td>
        </tr>
        <tr class="tab-my">
            <td>{{ paring.p2 }}</td>
            <td>{{ paring.op3 }}</td>
            <td>{{ result4.1 }}</td>
        </tr>
        <tr class="tab-my">
            <td>{{ paring.p3 }}</td>
            <td>{{ paring.op2 }}</td>
            <td>{{ result4.2 }}</td>
        </tr>
        <tr>
            <td></td>
            <td>Total</td>
            <th>{{ sum4 }}</th>
        </tr>
    </table>
</div>
<div class="m-4 p-4 border-dashed">
        <p>Parowanie 5</p>
    <table class="table border-bottom schedules-content">
        <tr class="tab-my2">
            <th>Gracz</th>
            <th>Przeciwnik</th>
            <th>Punkty</th>
            <th></th>
        </tr>
        <tr class="tab-my">
            <td>{{ paring.p1 }}</td>
            <td>{{ paring.op3 }}</td>
            <td>{{ result5.0 }}</td>
        </tr>
        <tr class="tab-my">
            <td>{{ paring.p2 }}</td>
            <td>{{ paring.op2 }}</td>
            <td>{{ result5.1 }}</td>
        </tr>
        <tr class="tab-my">
            <td>{{ paring.p3 }}</td>
            <td>{{ paring.op1 }}</td>
            <td>{{ result5.2 }}</td>
        </tr>
        <tr>
            <td></td>
            <td>Total</td>
            <th>{{ sum5 }}</th>
        </tr>
    </table>
</div>
<div class="m-4 p-4 border-dashed">
        <p>Parowanie 6</p>
    <table class="table border-bottom schedules-content">
        <tr class="tab-my2">
            <th>Gracz</th>
            <th>Przeciwnik</th>
            <th>Punkty</th>
            <th></th>
        </tr>
        <tr class="tab-my">
            <td>{{ paring.p1 }}</td>
            <td>{{ paring.op2 }}</td>
            <td>{{ result6.0 }}</td>
        </tr>
        <tr class="tab-my">
            <td>{{ paring.p2 }}</td>
            <td>{{ paring.op1 }}</td>
            <td>{{ result6.1 }}</td>
        </tr>
        <tr class="tab-my">
            <td>{{ paring.p3 }}</td>
            <td>{{ paring.op3 }}</td>
            <td>{{ result6.2 }}</td>
        </tr>
        <tr>
            <td></td>
            <td>Total</td>
            <th>{{ sum6 }}</th>
        </tr>
    </table>
</div>
{% endblock content %}