{% extends "base.html" %}
{% block title %}{% endblock %}
{% block content %}

<button type="button" class="btn btn-color rounded-1 pt-1 pb-1">
    <a class="nav-link btn-color" href="{% url 'edit-paring-etc' tournament.id paring.id %}">Edytuj</a>
</button>
<div class="row">
    <div class="m-4 p-4 border-dashed">
        <p><strong>{{ tournament.name }} - Paring: {{ paring.name }}</strong></p>
        <table class="table border-bottom schedules-content">
            <tr class="tab-my2">
                <th></th>
                <th>P1</th>
                <th>P2</th>
                <th>P3</th>
                <th>P4</th>
                <th>P5</th>
                <th>P6</th>
                <th>P7</th>
                <th>P8</th>
                <th>Av</th>
            </tr>
            <tr class="tab-my">
                <th></th>
                {% for p in teamB %}
                <th>{{ p }}</th>
                {% endfor %}
                <th></th>
            </tr>
            {% for row in players_points %}
            {% if row.1.1 == first_p1 or row.1.1 == first_p2 %}
            <tr class="d-none"></tr>
            {% else %}
            <tr class="tab-my">
                <th>{{ row.1.0 }}: {{ row.1.1 }}</th>
                {% for i in row.0 %}
                {% if i == 0 %}
                <td> {{i}}</td>
                {% elif i < 0 and i >= -1 %}
                <td style="background-color: #ff8080"> {{i}}</td>
                {% elif i < -1 %}
                <td style="background-color: #ff4d4d"> {{i}}</td>
                {% elif i > 0 and i <= 1 %}
                <td style="background-color: #79d279"> {{i}}</td>
                {% elif i > 1 %}
                <td style="background-color: #40bf40"> {{i}}</td>
                {% endif %}
                {% endfor %}
            </tr>
            {% endif %}
            {% endfor %}
            <tr class="tab-my">
                <th></th>
                {% for i in army_points %}
                {% if i == 0 %}
                <td> {{i}}</td>
                {% elif i < 0 and i >= -1 %}
                <td style="background-color: #79d279"> {{i}}</td>
                {% elif i < -1 %}
                <td style="background-color: #40bf40"> {{i}}</td>
                {% elif i > 0 and i <= 1 %}
                <td style="background-color: #ff8080"> {{i}}</td>
                {% elif i > 1 %}
                <td style="background-color: #ff4d4d"> {{i}}</td>
                {% endif %}
                {% endfor %}
            </tr>
        </table>
    </div>
    <div>
        {% if request.method == 'GET' %}
        <div class="m-4 p-4 border-dashed">
            <form action="" method="POST">
                {{ form.non_field_errors }}
                {{ form.source.errors }}
                {{ form.source }}
                <p><strong>Po 1 parowaniu</strong></p>
                <table class="table border-bottom schedules-content">
                    <tr class="tab-my2">
                        <th></th>
                        <th>Gracz</th>
                        <th>Przeciwnik</th>
                    </tr>
                    <tr>
                        <th> Pierwsza para</th>
                        <td>{{ form.first_p1 }}</td>
                        <td>{{ form.first_op1 }}</td>
                    </tr>
                    <tr>
                        <th> Druga para</th>
                        <td>{{ form.first_p2 }}</td>
                        <td>{{ form.first_op2 }}</td>
                    </tr>
                </table>
                <input class="btn btn-color rounded-1 pt-1 pb-1" type="submit" value="Szacuj">
                {% csrf_token %}

            </form>
        </div>
        {% endif %}
    </div>
</div>
{% if request.method == 'GET' %}
<div class="col">
    <div class="dashboard-alerts row">
        <div class="m-4 p-4 alert-item alert-green">
            <span class="font-weight-bold">Dobrych paringów: {{ green_p|stringformat:"d%%" }} ({{ green }})</span>
        </div>
        <div class="m-4 p-4 alert-item alert-yellow">
            <span class="font-weight-bold">Remisowych paringów: {{ yellow_p|stringformat:"d%%" }} ({{ yellow }})</span>
        </div>
        <div class="m-4 p-4 alert-item alert-red">
            <span class="font-weight-bold">Złych paringów: {{ red_p|stringformat:"d%%" }} ({{ red }})</span>
        </div>
    </div>
</div>

<div class="row">
    <div class="m-4 p-4 border-dashed">
        <p><strong>Rozklad procentowy paringow dla kazdej wystawki</strong></p>
        <table class="table border-bottom schedules-content">
            <tr class="tab-my2">
                <th></th>
                <th></th>
                <th>P1</th>
                <th></th>
                <th></th>
                <th>P2</th>
                <th></th>
                <th></th>
                <th>P3</th>
                <th></th>
                <th></th>
                <th>P4</th>
                <th></th>
                <th></th>
                <th>P5</th>
                <th></th>
                <th></th>
                <th>P6</th>
                <th></th>
                <th></th>
                <th>P7</th>
                <th></th>
                <th></th>
                <th>P8</th>
                <th></th>
            </tr>
            <tr class="tab-my">
                <th></th>
                <th></th>
                <th>{{ paring.op1 }}</th>
                <th></th>
                <th></th>
                <th>{{ paring.op2 }}</th>
                <th></th>
                <th></th>
                <th>{{ paring.op3 }}</th>
                <th></th>
                <th></th>
                <th>{{ paring.op4 }}</th>
                <th></th>
                <th></th>
                <th>{{ paring.op5 }}</th>
                <th></th>
                <th></th>
                <th>{{ paring.op6 }}</th>
                <th></th>
                <th></th>
                <th>{{ paring.op7 }}</th>
                <th></th>
                <th></th>
                <th>{{ paring.op8 }}</th>
                <th></th>
            </tr>
            {% for data in total_percentage %}
            <tr class="tab-my2">
                <th>{{ data.8 }}</th>
                {% for i in data %}
                <td class="alert-green">{{ i.0|stringformat:"d%%" }}</td>
                <td class="alert-yellow">{{ i.1|stringformat:"d%%" }}</td>
                <td class="alert-red">{{ i.2|stringformat:"d%%" }}</td>
                {% endfor %}
            </tr>
            {% endfor %}

        </table>
    </div>
</div>
{% elif request.method == 'POST' %}
<div class="col">
    <div class="dashboard-alerts row">
        <div class="m-4 p-4 alert-item alert-green">
            <span class="font-weight-bold">Dobrych paringów: {{ green_p|stringformat:"d%%" }} ({{ green }})</span>
        </div>
        <div class="m-4 p-4 alert-item alert-yellow">
            <span class="font-weight-bold">Remisowych paringów: {{ yellow_p|stringformat:"d%%" }} ({{ yellow }})</span>
        </div>
        <div class="m-4 p-4 alert-item alert-red">
            <span class="font-weight-bold">Złych paringów: {{ red_p|stringformat:"d%%" }} ({{ red }})</span>
        </div>
    </div>
</div>
<!--<div class="col">-->
<!--    <div class="dashboard-alerts row">-->
<!--        <div class="m-4 p-4 alert-item alert-info">-->
<!--            <span class="font-weight-bold">Najlepsze mozliwe wystawki:</br>-->
<!--                <i>(Armia: ilość paringów z 13+ pkt)</i></br>-->
<!--                {{rating}}-->
<!--                {% for army, rating in best_armies.items %}-->
<!--                {{ army }} : {{ rating }}</br>-->
<!--                {% endfor %}-->
<!--            </span>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->

{% endif %}
{% endblock content %}