{% extends "base.html" %}
{% block title %}{% endblock %}
{% block content %}
<h1>Turniej: {{ tournament.name }}</h1>

<div class="m-4 p-4 border-dashed">
    <table class="table border-bottom schedules-content">
        <tr>
            <th></th>
            <th>{{ tournament.op1 }}</th>
            <th>{{ tournament.op2 }}</th>
            <th>{{ tournament.op3 }}</th>
        </tr>
        <tr>
            <th></th>
            <th>{{ parings.op1 }}</th>
            <th>{{ parings.op2 }}</th>
            <th>{{ parings.op3 }}</th>
        </tr>
        <tr>
            <th>Armia 1: {{ tournament.p1 }}</th>
            <td>{{ parings.p11 }}</td>
            <td>{{ parings.p12 }}</td>
            <td>{{ parings.p13 }}</td>
        </tr>
        <tr>
            <th>Armia 2: {{ tournament.p2 }}</th>
            <td>{{ parings.p21 }}</td>
            <td>{{ parings.p22 }}</td>
            <td>{{ parings.p23 }}</td>
        </tr>
        <tr>
            <th>Armia 3: {{ tournament.p3 }}</th>
            <td>{{ parings.p31 }}</td>
            <td>{{ parings.p32 }}</td>
            <td>{{ parings.p33 }}</td>
        </tr>
    </table>

</div>
{% endblock content %}