{% extends "base.html" %}
{% block title %}{% endblock %}
{% block content %}
<h1>Ranking</h1>
    <div class="col-1">
        {% if request.user.is_authenticated %}
        <div class="nav nav-pills nav-justified">
            <a class="nav-link active" href="/ranking/add_result/">Dodaj wynik</a>
        </div>
        {% endif %}
    </div>
        <table class="table border-bottom schedules-content">

            <tr>
                <td>
                    <form action="" method="POST">
                    <button class="btn btn-secondary rounded-1" type="submit" name="option" value="name_sort">Sortuj</button>
                    {% csrf_token %}
                    </form>
                </td>
                <td>
                    <form action="" method="POST">
                    <button class="btn btn-secondary rounded-1" type="submit" name="option" value="points_sort">Sortuj</button>
                    {% csrf_token %}
                    </form>
                </td>
                <td></td>
                <td></td>
                <td>
                    <form action="" method="POST">
                    <button class="btn btn-secondary rounded-1" type="submit" name="option" value="rank_sort">Sortuj</button>
                    {% csrf_token %}
                    </form>
                </td>
                <td></td>
                <td></td>
            </tr>

            <tr>
                <th>Nickname</th>
                <th>Punkty</th>
                <th>Czy wykonany objective</th>
                <th>Jaki Objective</th>
                <th>Ranga turnieju/gry</th>
                <th>Przeciwnik</th>
                <th>Data</th>
            </tr>
            {% for result in ranking %}
            <tr>
                <td><a href="/user_details/{{ result.user.id }}/">{{ result.user }}</a></td>
                <td>{{ result.battle_points }}</td>
                <td>{{ result.objective  }}</td>
                <td>{{ result.get_objective_type_display  }}</td>
                <td>{{ result.get_game_rank_display  }}</td>
                <td>{{ result.opponent  }}</td>
                <td>{{ result.date  }}</td>
            </tr>
            {% endfor %}
        </table>
<div class="row">
    <div class="col-2">
        <div class="nav flex-column nav-pills">
            <a class="nav-link active" href="/">Back</a>
        </div>
    </div>
</div>

{% endblock %}