{% extends "base.html" %}
{% block title %}{% endblock %}
{% block content %}
<div class="dashboard-header m-2 p-2">
    <div class="col-1">
        {% if request.user.is_authenticated %}
        <div class="nav nav-pills nav-justified">
            <a class="nav-link btn-color" href="/ranking/add_result/">Dodaj wynik</a>
        </div>
        {% endif %}
    </div>
</div>
<div class="row">
    <div class="m-4 p-4 border-dashed">
        <h1 class="dashboard-content-title">
            <span>Ranking</span>
        </h1>
        <table class="table border-bottom schedules-content css-serial">
            <tr>
                <th>Nickname</th>
                <th>Armia</th>
                <th>Punkty</th>
                <th>Objective (<span style="color: green">tak</span>/<span style="color: red">nie</span>)</th>
                <th>Ranga turnieju/gry</th>
                <th>Przeciwnik</th>
                <th>Armia przeciwnika</th>
                <th>Data</th>
            </tr>
            {% for result in ranking %}
            <tr class="numbering">
                <td><a class="user-color" href="/user_details/{{ result.user.id }}/">{{ result.user }}</a></td>
                <td>{{ result.army }}</td>
                <td>{{ result.battle_points }}</td>
                {% if result.objective %}
                <td style="color: green">{{ result.get_objective_type_display }}</td>
                {% else %}
                <td style="color: red">{{ result.get_objective_type_display }}</td>
                {% endif %}
                <td>{{ result.get_game_rank_display }}</td>
                <td>{{ result.opponent }}</td>
                <td>{{ result.opponent_army }}</td>
                <td>{{ result.date }}</td>
            </tr>
            {% endfor %}
        </table>
        <div class="pagination">
                        <span class="step-links">
                        {% if ranking.has_previous %}
                            <a href="?page={{ ranking.previous_page_number }}"> < Poprzednia </a> |
                        {% endif %}
                        {% for page in ranking.paginator.page_range %}
                            {% if ranking.number == page %}
                            <span>
                                 {{ page }} |
                            </span>
                            {% else %}
                            <span>
                                <a href="?page={{ page }}"> {{ page }} </a> |
                            </span>
                            {% endif %}
                        {% endfor %}

                        {% if ranking.has_next %}
                            <a href="?page={{ ranking.next_page_number }}"> Nastepna > </a>
                        {% endif %}
                        </span>
        </div>
    </div>
    <div class=dashboard-alerts">
        <h4>Sortowanie</h4>
        <form action="" method="POST">
            <label for="sort">1st:</label>

            <select id="sort" name="sort_option">
                <option value="user">Nickname</option>
                <option value="army">Armia</option>
                <option value="battle_points">Punkty</option>
                <option value="game_rank">Ranga</option>
                <option value="opponent">Przeciwnik</option>
                <option value="opponent_army">Armia przeciwnika</option>
                <option value="date" selected>Data</option>
            </select>
            <label for="desc"></label>
            <select id="desc" name="desc">
                <option value="-">Malejaco</option>
                <option value="+">Rosnaco</option>
            </select><br>
            <label for="sort_sec">2nd:</label>
            <select id="sort_sec" name="sort_option_sec">
                <option value="user" selected>Nickname</option>
                <option value="army">Armia</option>
                <option value="battle_points">Punkty</option>
                <option value="game_rank">Ranga</option>
                <option value="opponent">Przeciwnik</option>
                <option value="opponent_army">Armia przeciwnika</option>
                <option value="date">Data</option>
            </select>
            <label for="desc2"></label>
            <select id="desc2" name="desc2">
                <option value="-">Malejaco</option>
                <option value="+">Rosnaco</option>
            </select><br>
            <p></p>
            <button class="btn btn-color rounded-1 pt-1 pb-1" type="submit" value="Search">Sortuj</button>
            {% csrf_token %}
        </form>
    </div>
</div>
<div class="row">
    <div class="col-1">
        <div class="nav flex-column nav-pills">
            <a class="nav-link btn-color" href="/">Powrót</a>
        </div>
    </div>
</div>

{% endblock %}