{% extends "base.html" %}
{% block title %}{% endblock %}
{% block content %}
<div class="dashboard-header m-2 p-2">
    <div class="col-1">
        {% if request.user.is_authenticated %}
        <div class="nav nav-pills nav-justified">
            <a class="nav-link btn-color" href="{% url 'result' %}">Dodaj wynik</a>
        </div>
        {% endif %}
    </div>
</div>
<div class="row">
    <div class="m-4 p-4 border-dashed">
        <h1 class="dashboard-content-title">
            <span>Ranking 2022</span>
        </h1>
        <table class="table border-bottom schedules-content css-serial">
            <tr>
                <th>Wałeczek</th>
<!--                <th>Armia</th>-->
                <th>Punkty</th>
                <th>Przeciwnik</th>
<!--                <th>Armia</th>-->
<!--                <th>Objective (<span style="color: green">tak</span>/<span style="color: red">nie</span>)</th>-->
                <th>Ranga turnieju/gry</th>
<!--                <th>Przeciwnik</th>-->
<!--                <th>Armia przeciwnika</th>-->
                <th>Data</th>
            </tr>
            {% for result in ranking %}
            <tr class="numbering">
                <td><a class="user-color" href="{% url 'user-details' result.user.id %}">{{ result.user }}</a></td>
<!--                <td>{{ result.army }}</td>-->
                <td>{{ result.battle_points }} - {% widthratio result.battle_points|add:"-20" 1 -1 %}</td>
                {% if result.opponent_dw %}
                <td><a class="user-color" href="{% url 'user-details' result.opponent_dw.id %}">{{ result.opponent_dw }}</a>
                </td>
                {% else %}
                <td>{{ result.opponent }}</td>
                {% endif %}
<!--                <td>{{ result.opponent_army }}</td>-->
<!--                {% if result.objective %}-->
<!--                <td style="color: green">{{ result.get_objective_type_display }}</td>-->
<!--                {% else %}-->
<!--                <td style="color: red">{{ result.get_objective_type_display }}</td>-->
<!--                {% endif %}-->
                <td>{{ result.get_game_rank_display }}</td>
<!--                {% if result.opponent_dw %}-->
<!--                <td><a class="user-color" href="{% url 'user-details' result.opponent_dw.id %}">{{ result.opponent_dw }}</a>-->
<!--                </td>-->
<!--                {% else %}-->
<!--                <td>{{ result.opponent }}</td>-->
<!--                {% endif %}-->
<!--                <td>{{ result.opponent_army }}</td>-->
                <td>{{ result.date }}</td>
            </tr>
            {% endfor %}
        </table>
        <div class="pagination">
                        <span class="step-links">
                        {% if ranking.has_previous %}
                            <a href="?page={{ ranking.previous_page_number }}"> < Poprzednia </a> |
                        {% endif %}
                        {% for page in ranking.paginator.page_range %}
                            {% if ranking.number == page %}
                            <span>
                                 {{ page }} |
                            </span>
                            {% else %}
                            <span>
                                <a href="?page={{ page }}"> {{ page }} </a> |
                            </span>
                            {% endif %}
                        {% endfor %}

                        {% if ranking.has_next %}
                            <a href="?page={{ ranking.next_page_number }}"> Nastepna > </a>
                        {% endif %}
                        </span>
        </div>
    </div>
    <div class="col">
        <div class="m-4 p-4 border-dashed">
            <div class=dashboard-alerts">
                <h4>Rankingi</h4>
                <div class="row">
                    <div class="nav flex-column nav-pills m-2">
                        <a class="nav-link btn-color-grey disabled" href="{% url 'ranking-list' %}">2022</a>
                    </div>
                    <div class="nav flex-column nav-pills m-2">
                        <a class="nav-link btn-color" href="{% url 'ranking-list-2021' %}">2021</a>
                    </div>
                    <div class="nav flex-column nav-pills m-2">
                        <a class="nav-link btn-color " href="{% url 'ranking-list-2020' %}">2020</a>
                    </div>
                </div>
                <h4>Sortowanie</h4>
                <form action="" method="POST">
                    <label for="sort">1st:</label>

                    <select id="sort" name="sort_option">
                        <option value="user">Nickname</option>
                        <option value="army">Armia</option>
                        <option value="battle_points">Punkty</option>
                        <option value="game_rank">Ranga</option>
                        <option value="opponent_dw">Przeciwnik</option>
                        <option value="opponent_army">Armia przeciwnika</option>
                        <option value="date" selected>Data</option>
                    </select>
                    <label for="desc"></label>
                    <select id="desc" name="desc">
                        <option value="-">Malejaco</option>
                        <option value="+">Rosnaco</option>
                    </select><br>
                    <label for="sort_sec">2nd:</label>
                    <select id="sort_sec" name="sort_option_sec">
                        <option value="user" selected>Nickname</option>
                        <option value="army">Armia</option>
                        <option value="battle_points">Punkty</option>
                        <option value="game_rank">Ranga</option>
                        <option value="opponent_dw">Przeciwnik</option>
                        <option value="opponent_army">Armia przeciwnika</option>
                        <option value="date">Data</option>
                    </select>
                    <label for="desc2"></label>
                    <select id="desc2" name="desc2">
                        <option value="-">Malejaco</option>
                        <option value="+">Rosnaco</option>
                    </select><br>
                    <p></p>
                    <button class="btn btn-color rounded-1 pt-1 pb-1" type="submit" name="sort">Sortuj</button>
                    {% csrf_token %}
                </form>
            </div>
        </div>
        <!--        <div class="m-4 p-4 border-dashed">-->
        <!--        <div class=dashboard-alerts">-->
        <!--        <h4>Wyszukaj</h4>-->
        <!--        <form action="" method="POST">-->
        <!--            <label for="search">Gdzie szukamy?</label>-->
        <!--            <select id="search" name="search_option">-->
        <!--                <option value="user">Nickname</option>-->
        <!--                <option value="army">Armia</option>-->
        <!--                <option value="battle_points">Punkty</option>-->
        <!--                <option value="game_rank">Ranga</option>-->
        <!--                <option value="opponent_dw">Przeciwnik</option>-->
        <!--                <option value="opponent_army">Armia przeciwnika</option>-->
        <!--                <option value="date" selected>Data</option>-->
        <!--            </select><br>-->
        <!--            <label for="search_text">Czego szukamy></label>-->
        <!--            <input id="search_text" name="search_text">-->
        <!--            <p></p>-->
        <!--            <button class="btn btn-color rounded-1 pt-1 pb-1" type="submit" name="search">Wyszukaj</button>-->
        <!--            {% csrf_token %}-->
        <!--        </form>-->
        <!--    </div>-->
        <!--        </div>-->
    </div>
</div>
<div class="row">
    <div class="col-1">
        <div class="nav flex-column nav-pills">
            <a class="nav-link btn-color" href="/">Powrót</a>
        </div>
    </div>
</div>

{% endblock %}