{% extends "base.html" %}
{% block title %}{% endblock %}
{% block content %}
<h1>{{ tournament.name }}</h1>
<div class="row">
    <div class="m-4 p-4 border-dashed">
        <!--    <form action="" method="POST">-->
        <!--        {{ form.as_table }}-->
        <!--        <input class="btn btn-color rounded-1 pt-1 pb-1" type="submit" value="Dodaj">-->
        <!--        {% csrf_token %}-->
        <!--    </form>-->
        <form action="" method="POST">
            {{ form.non_field_errors }}
            {{ form.source.errors }}
            {{ form.source }}
            <p>{{ form.name.label_tag }} {{ form.name }} {{ form.name.help_text }}</p>
            <table>
                <tr class="tab-my2">
                    <th></th>
                    <th>{{ form.op1.label_tag }}</th>
                    <th>{{ form.op2.label_tag }}</th>
                    <th>{{ form.op3.label_tag }}</th>
                </tr>
                <tr class="tab-my">
                    <th></th>
                    <th>{{ form.op1 }} {{ form.op1.errors }}</th>
                    <th>{{ form.op2 }} {{ form.op2.errors }}</th>
                    <th>{{ form.op3 }} {{ form.op3.errors }}</th>
                </tr>
                <tr class="tab-my">
                    <th>{{tournament.player_name_1}} ({{ tournament.p1 }})</th>
                    <td>{{ form.p11 }} {{ form.p11.errors }}</td>
                    <td>{{ form.p12 }} {{ form.p12.errors }}</td>
                    <td>{{ form.p13 }} {{ form.p13.errors }}</td>
                </tr>
                <tr class="tab-my">
                    <th>{{tournament.player_name_2}} ({{ tournament.p2 }})</th>
                    <td>{{ form.p21 }} {{ form.p21.errors }}</td>
                    <td>{{ form.p22 }} {{ form.p22.errors }}</td>
                    <td>{{ form.p23 }} {{ form.p23.errors }}</td>
                </tr>
                <tr>
                    <th>{{tournament.player_name_3}} ({{ tournament.p3 }})</th>
                    <td>{{ form.p31 }} {{ form.p31.errors }}</td>
                    <td>{{ form.p32 }} {{ form.p32.errors }}</td>
                    <td>{{ form.p33 }} {{ form.p33.errors }}</td>
                </tr>
            </table>

            <input class="btn btn-color rounded-1 pt-1 pb-1" type="submit" value="Zapisz">
            {% csrf_token %}
        </form>
    </div>
</div>
<div class="m-4 p-4 border-dashed">
        <table class="table border-bottom schedules-content">
            <tr>
                <th>Nazwa</th>
                <th>Data</th>
                <th></th>
                <th></th>
            </tr>
            {% for paring in parings_list %}
            <tr>
                <td><a class="user-color" href="{% url 'paring-3v3-view' tournament.id paring.id %}">Paring: {{ paring.name }}</a></td>
                <td><a class="btn btn-secondary rounded-1" href="{% url 'delete-paring-3v3' tournament.id paring.id %}">Usun</a></td>

            </tr>
            {% endfor %}
        </table>
</div>
<div class="m-4 p-4 border-dashed">
    <ul>
    <li> 3 >> 18 - 20 (19) pkt</li>
    <li> 2 >> 15 - 17 (16) pkt</li>
    <li> 1 >> 12 - 14 (13) pkt</li>
    <li> 0 >> 9 - 11 (10) pkt</li>
    <li>-1 >> 6 - 8 (7) pkt</li>
    <li>-2 >> 3 - 5 (4) pkt</li>
    <li> -3 >> 0 - 2 (1) pkt</li>
    </ul>
</div>
{% endblock content %}