{% extends "base.html" %}
{% block title %}{% endblock %}
{% block content %}
<h1>Lista</h1>
    <div class="col-1">
        <div class="nav nav-pills nav-justified">
            <a class="nav-link active" href="/add_unit/">Dodaj</a>
        </div>
    </div>
        <table class="table border-bottom schedules-content">
            <tr>
                <th>Nazwa jednostki</th>
                <th>Ofensive Skill</th>
                <th>Strength</th>
                <th>AP</th>
                <th>Lightning Reflex</th>
                <th>Army</th>
                <th></th>
                <th></th>
            </tr>
            {% for unit in units_list %}
            <tr>
                <td>{{ unit.name }}</td>
                <td>{{ unit.offensive }}</td>
                <td>{{ unit.strength }}</td>
                <td>{{ unit.ap }}</td>
                {% if unit.reflex %}
                    <td style="color: green">Tak</td>
                {% else %}
                    <td style="color: red">Nie</td>
                {% endif %}
                <td>{{ unit.army.name }}</td>
                <td>
                    <button type="button" class="btn btn-primary rounded-1 pt-0 pb-0 pr-4 pl-4">
                        <a class="nav-link active" href="/edit_unit/{{ unit.id }}/">
                            <span>Edit</span>
                        </a>
                    </button>
                </td>
                <td>
                    <button type="button" class="btn btn-secondary rounded-1 pt-0 pb-0 pr-4 pl-4">
                        <a class="nav-link active" href="/delete_unit/{{ unit.id }}/">
                            <span>Delete</span>
                        </a>
                    </button>
                </td>

            </tr>
            {% endfor %}
        </table>
<div class="row">
    <div class="col-2">
        <div class="nav flex-column nav-pills">
            <a class="nav-link active" href="/calculator/">Back</a>
        </div>
    </div>
</div>

{% endblock content %}