{% extends "base.html" %}
{% block title %}{% endblock %}
{% block content %}
<div class="m-2 p-2 border-dashed">
    <h2 class="dashboard-content-title">
                        <span>Lista Użytkownikow</span>
                    </h2>
        <table class="table css-serial">
            <thead>
            <tr class="d-flex">
                <th class="col-2">Nickname</th>
                <th class="col-1">Army</th>
                <th class="col-1"></th>
            </tr>
            </thead>
<tbody>
            {% for user in users %}
            <tr class="d-flex">
                <td class="col-2">
                    <a class="user-color" href="/user_details/{{ user.id }}">{{ user.username }}</a></td>
<!--                <td>{{ user.email }}</td>-->
                <td class="col-1">{{ user.profile.user_army  }}</td>
                {% if request.user.username == user.username %}
                <td class="col-1"><a class="btn btn-secondary rounded-1" href="/edit_user/{{ user.id }}/">Edytuj</a></td>
<!--                <td><a class="btn btn-secondary rounded-1 disabled" href="/users/delete/{{ user.id }}/">Usuń</a></td>-->
                {% endif %}
            </tr>
            {% endfor %}
            </tbody>
        </table>
</div>
<div class="row">
    <div class="col-1">
        <div class="nav flex-column nav-pills">
            <a class="nav-link btn-color" href="/">Powrót</a>
        </div>
    </div>
</div>

{% endblock %}